@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Instrument Sans', sans-serif;
}

@layer base {
  button:disabled {
    @apply bg-gray-400 cursor-not-allowed;
  }
}